// Hero

@keyframes top-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bottom-to-top {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left-to-left {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
