// Hero
.hero__title {
  animation: top-to-bottom 1000ms ease 200ms both;
}
.hero__link {
  animation: left-to-left 1000ms ease 1200ms both;
}
.hero__descr {
  animation: left-to-right 1000ms ease 1200ms both;
}
.hero__text {
  animation: bottom-to-top 1000ms ease 2200ms both;
}
@keyframes top-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bottom-to-top {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes left-to-left {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
