@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --mobile-width: 480px;
  --tablet-width: 768px;
  --desktop-width: 1200px;
  --main-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Seymour One", sans-serif;
  --main-font-style: normal;
  --main-text-color: #131313;
  --inverse-text-color: #fcfcfc;
  --brand-color: #f8d24e;
  --background-color: #84a178;
  --button-text-color: #000000;
  --button-text-inverse-color: #ffffff;
  --button-hover-color: #0a8817;
  --address-text-color: #d6936d;
  --work-time-color: #ababab;
  --copyright-color: #7a7a7a;
  --background-input-color: rgba(248, 210, 78, 0.1);
  --normal-transition-duration: 250ms;
  --normal-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p {
  margin: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-flex;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  font-style: var(--main-font-style);
  cursor: pointer;
}

.page {
  font-family: var(--main-font-family), sans-serif;
  font-size: 12px;
  color: var(--main-text-color);
  background-color: var(--background-color);
}

.hero__title {
  -webkit-animation: top-to-bottom 1000ms ease 200ms both;
          animation: top-to-bottom 1000ms ease 200ms both;
}

.hero__link {
  -webkit-animation: left-to-left 1000ms ease 1200ms both;
          animation: left-to-left 1000ms ease 1200ms both;
}

.hero__descr {
  -webkit-animation: left-to-right 1000ms ease 1200ms both;
          animation: left-to-right 1000ms ease 1200ms both;
}

.hero__text {
  -webkit-animation: bottom-to-top 1000ms ease 2200ms both;
          animation: bottom-to-top 1000ms ease 2200ms both;
}

@-webkit-keyframes top-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes top-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes bottom-to-top {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bottom-to-top {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes left-to-left {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes left-to-left {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--background-color);
  transition: background-color 300ms ease-out, -webkit-backdrop-filter 300ms ease-out;
  transition: background-color 300ms ease-out, backdrop-filter 300ms ease-out;
  transition: background-color 300ms ease-out, backdrop-filter 300ms ease-out, -webkit-backdrop-filter 300ms ease-out;
}
.header--no-transparency {
  background-color: rgba(25, 28, 38, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.header__btn {
  display: none;
}
.header__btn:focus-visible {
  outline: transparent;
}
.header__logo {
  color: var(--brand-color);
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
  }
  .header__btn {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    min-width: 152px;
    padding: 12px 36px;
    margin-left: 32px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2857142857;
    border: transparent;
    background-color: var(--brand-color);
    border-radius: 10px;
  }
  .header__btn:hover, .header__btn:focus {
    background-color: var(--button-hover-color);
  }
  .header__btn:focus {
    color: var(--button-text-inverse-color);
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 8px;
  }
  .header__container {
    width: 1200px;
    display: flex;
    align-items: center;
  }
}

.btn__icon--header {
  fill: currentColor;
}

.nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
    justify-content: center;
  }
}
.nav__list {
  display: flex;
  gap: 25px;
}
.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--inverse-text-color);
  transition: color var(--normal-transition-duration) var(--normal-transition-timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--brand-color);
  cursor: url(../images/header/cursor.png), auto;
}
@media screen and (min-width: 481px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 13px;
  }
}

.logo__svg {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .logo__svg {
    width: 48px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .logo__svg {
    width: 60px;
    height: 65px;
  }
}

.nav__link {
  position: relative;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 5%;
  width: 90%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--brand-color);
  opacity: 0;
  transform: scaleX(0.2);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
.nav__link:hover::after, .nav__link:focus::after {
  opacity: 1;
  transform: scaleX(1);
}

.hero__container {
  padding-top: 99px;
}
@media screen and (max-width: 767px) {
  .hero__container {
    background-image: url(../images/hero/mob-dots.svg);
    background-repeat: repeat-x, no-repeat;
    background-position: bottom;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .hero__container {
    display: flex;
    background-image: url(../images/hero/tab-dots.svg);
    background-repeat: repeat-x, no-repeat;
    background-position: bottom;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    display: flex;
    background-image: url(../images/hero/desk-dots.svg);
    background-repeat: repeat-x, no-repeat;
    background-position: bottom;
  }
}

.hero__box {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}
@media screen and (min-width: 1199px) {
  .hero__box {
    margin-bottom: 45px;
  }
}

.hero__title {
  font-family: var(--secondary-font-family);
  font-size: 26px;
  line-height: 1.2692307692;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--inverse-text-color);
  width: 247px;
  margin-bottom: 38px;
}
@media screen and (min-width: 1199px) {
  .hero__title {
    width: 367px;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.04em;
  }
}

.hero__btn {
  padding: 11px 26px;
  margin-right: 15px;
  border: 2px solid var(--brand-color);
  border-radius: 8px;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}
@media screen and (min-width: 767px) {
  .hero__btn {
    padding-right: 22px;
  }
}
@media screen and (min-width: 1199px) {
  .hero__btn {
    padding: 12px 34px;
    margin-right: 35px;
  }
}
.hero__btn:hover {
  border: 2px solid var(--button-hover-color);
}
.hero__btn:focus {
  border: 2px solid var(--button-hover-color);
  color: var(--button-text-inverse-color);
}

.hero__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--brand-color);
}
@media screen and (min-width: 1199px) {
  .hero__link {
    font-size: 14px;
  }
}
.hero__link:hover {
  color: var(--button-hover-color);
}
.hero__link:focus {
  color: var(--button-text-inverse-color);
}

.hero__descr {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .hero__descr {
    display: none;
  }
}

.hero__text .item {
  margin-left: 32px;
  margin-right: 53px;
  margin-bottom: 12px;
  width: 139px;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: var(--button-text-inverse-color);
}
@media screen and (min-width: 1199px) {
  .hero__text .item {
    font-size: 14px;
    width: 200px;
    margin-bottom: 24px;
    margin-right: 195px;
  }
}

.hero__icon {
  margin-left: 32px;
  fill: var(--button-text-inverse-color);
}

@media screen and (max-width: 767px) {
  .hero__features {
    display: none;
  }
}

.hero__right-side {
  display: flex;
  gap: 14px;
}

.hero__numbers {
  margin-bottom: 4px;
  text-align: right;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
}
@media screen and (min-width: 1199px) {
  .hero__numbers {
    font-size: 46px;
    margin-bottom: 15px;
  }
}

.hero__features .item {
  margin-bottom: 27px;
}

.hero__features-text {
  text-align: right;
  width: 46px;
  font-size: 8px;
  line-height: 10px;
  color: var(--button-text-inverse-color);
}
@media screen and (min-width: 1199px) {
  .hero__features-text {
    font-size: 14px;
    width: 79px;
  }
}

@media screen and (max-width: 767px) {
  .hero__img {
    margin-left: auto;
    margin-right: auto;
  }
}

.product__section {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("../images/background/products/mobile/img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product__section {
    background-image: url("../images/background/products/mobile/img@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .product__section {
    background-image: url("../images/background/products/tablet/img.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product__section {
    background-image: url("../images/background/products/tablet/img@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .product__section {
    background-image: url("../images/background/products/desktop/img.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product__section {
    background-image: url("../images/background/products/desktop/img@2x.jpg");
  }
}

.product__container {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 61px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .product__container {
    max-width: 768px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .product__container {
    max-width: 1200px;
  }
}

.product__label {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .product__label {
    font-size: 22px;
    line-height: 1.2272727273;
  }
}
@media screen and (min-width: 1200px) {
  .product__label {
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.product__title {
  margin-bottom: 148px;
  font-family: var(--secondary-font-family);
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .product__title {
    margin-bottom: 200px;
    font-size: 34px;
    line-height: 1.2647058824;
  }
}
@media screen and (min-width: 1200px) {
  .product__title {
    margin-bottom: 303px;
    font-size: 36px;
    line-height: 1.25;
  }
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  gap: 168px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .product__list {
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .product__list {
    gap: 29px;
  }
}

.product__item {
  display: flex;
  flex-basis: 280px;
  flex-direction: column;
  min-height: 420px;
  text-align: center;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .product__item {
    flex-basis: calc((100% - 32px) / 3);
    min-height: 548px;
  }
}
@media screen and (min-width: 1200px) {
  .product__item {
    flex-basis: calc((100% - 58px) / 3);
    min-height: 536px;
  }
}

.product__item-green {
  position: relative;
  background-color: #aec6a5;
}

.product__item-green::before {
  content: " ";
  background-color: rgba(156, 190, 143, 0.7);
  background-image: url("../images/products/icemd@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
  position: absolute;
  width: 200px;
  height: 212px;
  border-radius: 50%;
  top: -22%;
  left: 13%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product__item-green::before {
    background-image: url("../images/products/icemd@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .product__item-green::before {
    left: 6%;
  }
}
@media screen and (min-width: 1200px) {
  .product__item-green::before {
    background-image: url("../images/products/icelg@1x.png");
    width: 302px;
    height: 318px;
    top: -32%;
    left: 9%;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product__item-green::before {
    background-image: url("../images/products/icelg@2x.png");
  }
}

.product__item-yellow {
  position: relative;
  background-color: #efd478;
}

.product__item-yellow::before {
  content: " ";
  background-color: rgba(248, 210, 78, 0.7);
  background-image: url("../images/products/coffeemd@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  position: absolute;
  width: 200px;
  height: 212px;
  border-radius: 50%;
  top: -22%;
  left: 13%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product__item-yellow::before {
    background-image: url("../images/products/coffeemd@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .product__item-yellow::before {
    left: 6%;
  }
}
@media screen and (min-width: 1200px) {
  .product__item-yellow::before {
    background-image: url("../images/products/coffeelg@1x.png");
    width: 302px;
    height: 318px;
    top: -32%;
    left: 9%;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product__item-yellow::before {
    background-image: url("../images/products/coffeelg@2x.png");
  }
}

.product__item-pink {
  position: relative;
  background-color: #d6936d;
}

.product__item-pink::before {
  content: " ";
  background-color: rgba(213, 117, 63, 0.7);
  background-image: url("../images/products/shakemd@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 200px;
  height: 212px;
  border-radius: 50%;
  top: -22%;
  left: 13%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product__item-pink::before {
    background-image: url("../images/products/shakemd@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .product__item-pink::before {
    left: 6%;
  }
}
@media screen and (min-width: 1200px) {
  .product__item-pink::before {
    background-image: url("../images/products/shakelg@1x.png");
    width: 302px;
    height: 318px;
    top: -32%;
    left: 9%;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product__item-pink::before {
    background-image: url("../images/products/shakelg@2x.png");
  }
}

.product__card {
  flex-grow: 1;
}

.product__undertitle {
  margin-top: 123px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .product__undertitle {
    margin-top: 108px;
    font-size: 22px;
    line-height: 1.2272727273;
  }
}
@media screen and (min-width: 1200px) {
  .product__undertitle {
    margin-top: 165px;
    margin-bottom: 66px;
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.product__text {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 14px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .product__text {
    margin-left: 26px;
    margin-right: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .product__text {
    margin-left: 62px;
    margin-right: 62px;
    margin-bottom: 50px;
    font-size: 16px;
  }
}

.product__button {
  display: inline-block;
  align-self: center;
  margin-bottom: 16px;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
}
@media screen and (min-width: 768px) {
  .product__button {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .product__button {
    margin-bottom: 60px;
  }
}

.about {
  padding-top: 61px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 41px;
  }
}

@media screen and (min-width: 768px) {
  .about__wrapper {
    display: flex;
    gap: 38px;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .about__wrapper {
    gap: 101px;
  }
}

.about__label {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--inverse-text-color);
}
@media screen and (min-width: 768px) {
  .about__label {
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .about__label {
    font-size: 30px;
  }
}

.about__title {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  font-family: var(--secondary-font-family);
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--inverse-text-color);
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 72px;
    width: 456px;
    font-size: 34px;
    line-height: 1.26;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 82px;
    width: 483px;
    font-size: 36px;
    line-height: 1.25;
  }
}

.img__wrapper {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 62px;
  width: 279px;
  height: 278px;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;
}
@media screen and (min-width: 768px) {
  .img__wrapper {
    margin: 0;
    width: 330px;
    height: 330px;
    box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
    border-radius: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .img__wrapper {
    width: 490px;
    height: 490px;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    border-radius: 250px;
  }
}

.about__img {
  position: absolute;
  top: 22px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .about__img {
    top: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    top: 39px;
  }
}

.about__text {
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--inverse-text-color);
}
.about__text:first-child {
  margin-bottom: 4px;
}
.about__text:nth-child(2) {
  margin-bottom: 10px;
  line-height: 1.58;
  letter-spacing: normal;
}
@media screen and (max-width: 767.98px) {
  .about__text:nth-child(3) {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    margin-right: 0;
    margin-left: 0;
    text-align: start;
  }
  .about__text:nth-child(-n+2) {
    width: 334px;
    margin-bottom: 8px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
  .about__text:nth-child(3) {
    width: 336px;
    margin-bottom: 32px;
    line-height: 1.92;
  }
}
@media screen and (min-width: 1200px) {
  .about__text:first-child {
    font-size: 16px;
  }
  .about__text:nth-child(-n+2) {
    width: 463px;
  }
  .about__text:nth-child(2) {
    font-size: 14px;
    line-height: 1.92;
  }
  .about__text:nth-child(3) {
    width: 457px;
    margin-bottom: 54px;
    font-size: 14px;
  }
}

.about__btn {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 35px;
  padding-left: 34px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: var(--button-text-color);
  background-color: var(--brand-color);
  border-radius: 10px;
  border: none;
  transition: background-color var(--normal-transition-duration) var(--normal-transition-timing-function), color var(--normal-transition-duration) var(--normal-transition-timing-function);
}
.about__btn:hover, .about__btn:focus {
  background-color: var(--button-hover-color);
}
.about__btn:focus {
  color: var(--inverse-text-color);
}
@media screen and (min-width: 768px) {
  .about__btn {
    margin-left: 0;
  }
}

.advantages {
  max-width: 480px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px; /* для секції*/
  padding-top: 50px; /* для секції, якщо не закладений в about*/
  color: var(--inverse-text-color);
  background: var(--background-color);
}

.advantages-list {
  /*max-width: 480px;*/
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-item {
  max-width: calc(100% - 0px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*flex-basis: calc((100% - 0 * (1 - 1)) / 1);*/
}

.advantages-item::before {
  display: flex;
  content: "";
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto 16px auto;
  background-color: var(--brand-color);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.advantages-item.icon-cow::before {
  background-image: url(../images/advantages/cow.png);
}

.advantages-item.icon-weight::before {
  background-image: url(../images/advantages/weight.png);
}

.advantages-item.icon-ice::before {
  background-image: url(../images/advantages/ice.png);
}

.advantages-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2222222222;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.advantages-desc {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
  width: 230px;
  text-align: center;
  font-weight: 700;
  line-height: 170%;
}

@media screen and (min-width: 768px) {
  .advantages {
    min-width: 100vw;
    padding-bottom: 60px; /* для секції*/
    padding-top: 60px; /* для секції, якщо не закладений в about*/
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    height: auto;
    gap: 80px;
    margin-right: 44px;
    margin-left: 44px;
  }
  .advantages-item {
    flex-basis: calc((100% - 160px) / 3);
  }
  .advantages-title {
    font-size: 48px;
    line-height: 1.2291666667;
    margin-bottom: 12px;
  }
  .advantages-desc {
    width: 152px;
    font-size: 14px;
    line-height: 174%;
    margin-bottom: 0;
  }
  .advantages-item::before {
    margin: 0 auto 32px auto;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 80px; /* для секції*/
  }
  .advantages-list {
    margin-right: 0px;
    margin-left: 0px;
    gap: 32px;
  }
  .advantages-item {
    flex-basis: calc((100% - 64px) / 3);
  }
  .advantages-title {
    font-size: 58px;
    line-height: 1.224137931;
  }
  .advantages-desc {
    width: 368px;
    font-size: 16px;
    line-height: 176%;
    margin-bottom: 0;
    letter-spacing: 0.02em;
  }
  .advantages-item::before {
    margin: 0 auto 40px auto;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__container {
    padding-left: 94px;
    padding-right: 94px;
  }
}

.gallery__slideset {
  margin-left: auto;
  margin-right: auto;
  width: 87.5vw;
  height: 40.6vw;
}
@media screen and (min-width: 480px) {
  .gallery__slideset {
    width: 280px;
    height: 130px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__slideset {
    width: 704px;
    height: 327px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__slideset {
    width: 1013px;
    height: 422px;
  }
}

.slideset__item {
  display: block;
  width: 100%;
}

.gallery__image {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__image {
    border-radius: 24px;
  }
}

.reviews__container {
  padding-top: 80px;
  padding-bottom: 40px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .reviews__container {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__container {
    padding-top: 140px;
    padding-bottom: 100px;
  }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 9px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--background-color);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.contacts {
  width: 100%;
  padding-bottom: 60px;
  margin: auto;
  font-family: var(--main-font-family), var(--secondary-font-family);
  font-style: var(--main-font-style);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .contacts {
    font-size: 14px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    font-size: 16px;
    padding-bottom: 120px;
  }
}
.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    gap: 32px;
  }
}
.contacts__item {
  background: var(--button-text-inverse-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  max-width: 280px;
  padding: 32px;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    max-width: 224px;
    padding: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    max-width: 368px;
    padding: 40px;
  }
}
.contacts__title {
  display: inline-block;
  justify-content: center;
  align-content: center;
  height: auto;
  width: auto;
  padding: 4px 22px;
  margin-bottom: 20px;
  background: var(--brand-color);
  border-radius: 6px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    padding: 4px 14px;
    line-height: 1.8571428571;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__title {
    line-height: 1.875;
  }
}
.contacts__city {
  padding-bottom: 8px;
  line-height: 1.8333333333;
}
@media screen and (min-width: 768px) {
  .contacts__city {
    line-height: 1.8571428571;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__city {
    line-height: 1.875;
    padding-bottom: 8px;
  }
}
.contacts__address {
  letter-spacing: 0.04em;
  color: var(--address-text-color);
  line-height: 1.8333333333;
}
@media screen and (min-width: 768px) {
  .contacts__address {
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__address {
    line-height: 1.8125;
  }
}
.contacts__sked {
  gap: 12px;
  line-height: 1.8333333333;
}
@media screen and (min-width: 768px) {
  .contacts__sked {
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__sked {
    line-height: 1.875;
  }
}
.contacts__sked--time {
  color: var(--work-time-color);
}
.contacts__line {
  margin: 24px auto;
  color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts__line {
    margin: 32px auto;
  }
}
.contacts__relations {
  display: flex;
  flex-direction: column;
  gap: 6px;
  line-height: 1.5833333333;
}
@media screen and (min-width: 768px) {
  .contacts__relations {
    line-height: 1.5;
    gap: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__relations {
    line-height: 1.5;
  }
}
.contacts__relations--link {
  color: var(--main-text-color);
}

.contacts__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .contacts__content {
    flex-direction: row;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__content {
    margin-top: 60px;
  }
}

.contacts__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 196px;
  height: 42px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  box-shadow: none;
  border-width: 0;
  color: var(--main-text-color);
  gap: 10px;
  padding: 12px auto;
  cursor: pointer;
  transition: var(--normal-transition-duration) var(--normal-transition-timing-function);
}

.btn--locations {
  background: var(--brand-color);
}
.btn--locations:hover {
  background: var(--button-hover-color);
}
.btn--locations:focus {
  background: var(--button-hover-color);
  color: var(--button-text-inverse-color);
}
.btn--locations:disabled {
  background: var(--work-time-color);
}
.btn--franchise {
  background: none;
  border: 2px solid var(--brand-color);
}
.btn--franchise:hover {
  border: 2px solid var(--button-hover-color);
}
.btn--franchise:focus {
  border: 2px solid var(--button-hover-color);
  color: var(--button-text-inverse-color);
}
.btn--franchise:disabled {
  border: 2px solid var(--work-time-color);
}

.btn__icon--contacts {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .footer__wraper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wraper {
    margin-bottom: 60px;
  }
}

.footer__wraper--auto {
  margin-top: auto;
  margin-bottom: auto;
}

.footer__text {
  margin-bottom: 16px;
  padding: 0 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  text-transform: uppercase;
  color: var(--inverse-text-color);
}
@media screen and (max-width: 767px) {
  .footer__text {
    max-width: 232px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__text {
    margin-bottom: 8px;
    max-width: 352px;
    font-size: 26px;
    line-height: 1.2307692308;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2333333333;
    letter-spacing: 0.04em;
  }
}

.footer__strong {
  display: block;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2058823529;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--inverse-text-color);
}
@media screen and (max-width: 767px) {
  .footer__strong {
    max-width: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__strong {
    margin-bottom: 0;
    max-width: 352px;
    font-size: 48px;
    line-height: 1.2291666667;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__strong {
    margin-bottom: 0;
    font-size: 58px;
    line-height: 1.224137931;
    letter-spacing: 0.06em;
  }
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .socials {
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .socials {
    margin-bottom: 40px;
  }
}

.socials__icon {
  fill: var(--background-color);
  transition: fill var(--normal-transition-duration);
}
.socials__icon:hover, .socials__icon:focus {
  fill: var(--inverse-text-color);
}

.footer__text-link {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8333333333;
  text-align: right;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .footer__text-link {
    margin-bottom: 0;
  }
}

.footer__link {
  color: var(--inverse-text-color);
}

.footer__line {
  margin: 0 -20px 20px -20px;
  size: 1px;
  width: calc(100% + 40px);
  color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .footer__line {
    margin: 0 -32px 12px -32px;
    width: calc(100% + 64px);
  }
}
@media screen and (min-width: 1200px) {
  .footer__line {
    margin: 0 0 12px;
    width: 100%;
  }
}

.footer__copyright {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--copyright-color);
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-right: auto;
    margin-left: auto;
    width: 155px;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-bottom: 12px;
    line-height: 1.8571428571;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 1.8333333333;
    letter-spacing: 0.02em;
  }
}

.ice-cream-div {
  margin-left: auto;
  margin-right: auto;
  width: 132px;
  height: 132px;
  margin-bottom: 24px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.ice-cream-div__picture {
  position: relative;
  bottom: 7px;
}

.ice-cream-div__img {
  border-radius: 98px;
  overflow: hidden;
}

.food-value {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .food-value {
    margin-bottom: 48px;
  }
}

.food-value__item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
}
.food-value__item::before {
  content: "";
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  top: -1px;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  background-color: #9cbe8f;
}
.food-value__item:nth-child(1)::before {
  content: "320";
}
.food-value__item:nth-child(2)::before {
  content: "4g";
}
.food-value__item:nth-child(3)::before {
  content: "8.2g";
}
.food-value__item:nth-child(4)::before {
  content: "40.4g";
}

.food-value__member {
  position: absolute;
  margin: 0;
  bottom: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 10px;
  line-height: 1.2;
  color: #131313;
}

.modal__ingredients-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 24px;
}

.ingredients-list {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .ingredients-list {
    margin-bottom: 48px;
  }
}

.ingredients-list__item {
  margin-bottom: 11px;
}
.ingredients-list__item:last-child {
  margin-bottom: 0;
}

.ingredients-member-list {
  display: flex;
}

.ingredients-member-list__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.04em;
  margin: 0;
}

.ingredients-member-list__item + .ingredients-member-list__item {
  margin-left: auto;
}

.ingredients-form {
  text-align: center;
}

.ingredients-form__name {
  width: 240px;
  height: 42px;
  padding: 11px 10.5px;
  margin-bottom: 16px;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;
}
.ingredients-form__name::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}
.ingredients-form__name:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}
.ingredients-form__name::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}
@media (min-width: 768px) {
  .ingredients-form__name {
    width: 368px;
  }
}

.ingredients-form__tel {
  width: 240px;
  height: 42px;
  padding: 11px 10.5px;
  margin-bottom: 16px;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;
}
.ingredients-form__tel::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}
.ingredients-form__tel:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}
.ingredients-form__tel::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}
@media (min-width: 768px) {
  .ingredients-form__tel {
    width: 368px;
  }
}

.ingredients-form__comment {
  width: 240px;
  height: 84px;
  padding: 11px 10.5px;
  margin-bottom: 24px;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;
}
.ingredients-form__comment::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}
.ingredients-form__comment:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}
.ingredients-form__comment::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .ingredients-form__comment {
    margin-bottom: 32px;
    width: 368px;
  }
}

.ingredients-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 132px;
  height: 42px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #131313;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
}
@media (min-width: 768px) {
  .ingredients-form__button {
    width: 121px;
  }
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: var(--mobile-width);
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: var(--tablet-width);
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: var(--desktop-width);
    padding-left: 16px;
    padding-right: 16px;
  }
}

.backdrop {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition);
}

.modal {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 28px;
  background-color: var(--inverse-text-color);
  border: 2px solid var(--brand-color);
  border-radius: 10px;
  width: 100%;
  max-width: 280px;
  max-height: 80vh;
  align-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (min-width: 480px) {
  .modal {
    max-width: 568px;
    padding: 32px 60px;
  }
}

.modal__close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  padding: 0;
  background: none;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  fill: #131313;
  transition: fill 150ms cubic-bezier(0, 0, 1, 1);
}
@media screen and (min-width: 768px) {
  .modal__close-button {
    width: 24px;
    height: 24px;
  }
}
.modal__close-button:hover {
  fill: var(--button-hover-color);
}

.modal__title {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.modal__text {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--main-text-color);
}

.modal__form {
  margin: 24px auto 0;
  max-width: 224px;
}
@media screen and (min-width: 480.1px) {
  .modal__form {
    max-width: 368px;
  }
}

.modal__form-item {
  position: relative;
  margin: 0 auto 12px;
  max-width: 100%;
  height: 32px;
}

.modal__form-item--comment {
  height: 64px;
}

.modal__placeholder {
  position: absolute;
  top: 8px;
  left: 12px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: var(--main-text-color);
  transition: var(--normal-transition-duration);
}

.modal__input {
  width: 100%;
  height: 100%;
  padding: 8px 12px 7px;
  background: var(--background-input-color);
  border: 1px solid var(--background-color);
  border-radius: 10px;
}

.modal__input:not(:-moz-placeholder-shown) + .modal__placeholder {
  font-size: 10px;
  line-height: 12px;
  transform: translate(-20%, -160%);
}

.modal__input:not(:-ms-input-placeholder) + .modal__placeholder {
  font-size: 10px;
  line-height: 12px;
  transform: translate(-20%, -160%);
}

.modal__input:focus + .modal__placeholder,
.modal__input:not(:placeholder-shown) + .modal__placeholder {
  font-size: 10px;
  line-height: 12px;
  transform: translate(-20%, -160%);
}

.modal__button {
  margin: 24px auto 0;
  width: 114px;
  height: 42px;
  max-width: 100%;
  background: var(--brand-color);
  border-radius: 10px;
  border: 0;
}

.modal__button-text {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: var(--main-text-color);
}

.modal__map {
  max-width: 224px;
  max-height: 199px;
}
@media screen and (min-width: 480.1px) {
  .modal__map {
    max-width: 448px;
    max-height: 260px;
  }
}

.menu-mobile {
  position: relative;
}

.menu-toggle {
  min-height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  color: var(--button-text-inverse-color);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle--close {
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--brand-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-left: 33px;
  padding-right: 32px;
  padding-bottom: 64px;
  color: var(--inverse-text-color);
  background-color: var(--background-color);
  display: none;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
  display: flex;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobile-menu {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
  padding-top: 51px;
  list-style: none;
  text-align: center;
}
.mobile-menu__btn {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  margin-top: auto;
  max-width: 152px;
  padding: 12px 36px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  border: transparent;
  background-color: var(--brand-color);
  border-radius: 10px;
}
.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  background-color: var(--button-hover-color);
}
.mobile-menu__btn:focus {
  color: var(--button-text-inverse-color);
}
.mobile-menu__link.current-page {
  color: var(--main-text-color);
}
.mobile-menu .link {
  display: block;
  margin: 0;
  padding: 16px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.475;
  letter-spacing: 0.02em;
  color: var(--inverse-text-color);
  text-decoration: none;
}
.mobile-menu .link:hover, .mobile-menu .link:focus {
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    padding: 20px;
  }
  .mobile-menu__btn {
    display: none;
  }
}

.menu__icon {
  fill: currentColor;
}

.review-card {
  text-align: center;
}

.review-card__image {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.review-card__review {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding: 35px 39px;
  line-height: 2.55;
  border-radius: 10px;
  color: var(--inverse-text-color);
  background-color: var(--background-color);
}
@media screen and (min-width: 480px) {
  .review-card__review {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .review-card__review {
    padding: 29px 80px;
    width: 704px;
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .review-card__review {
    padding: 43px 109px;
    width: 968px;
    font-size: 16px;
  }
}

.review-card__name {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .review-card__name {
    margin-bottom: 32px;
    font-size: 16px;
  }
}

.joint-background {
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 32px;
  background-image: url(../images/background/gallery/mobile/img.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .joint-background {
    background-image: url(../images/background/gallery/mobile/img@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .joint-background {
    background-position-y: 144px;
    background-image: url(../images/background/gallery/tablet/img.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .joint-background {
    background-image: url(../images/background/gallery/tablet/img@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .joint-background {
    max-width: var(--desktop-width);
    background-position-y: 98px;
    background-image: url(../images/background/gallery/desktop/img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .joint-background {
    background-image: url(../images/background/gallery/desktop/img@2x.jpg);
  }
}

.modal-read-more__video {
  min-width: 220px;
  height: 199px;
  margin-bottom: 20px;
}

.video {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.modal-read-more__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .modal-read-more__desc {
    font-size: 16px;
    margin-top: 32px;
  }
  .modal-read-more__video {
    min-width: 444px;
    min-height: 205px;
    margin-bottom: 32px;
  }
}
.product-card__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .product-card__modal {
    max-width: 568px;
    width: 100%;
    height: auto;
  }
}

.product-card__btn {
  transition-property: fill;
  transition-duration: var(--normal-transition-duration);
  transition-timing-function: var(--normal-transition-timing-function);
}
.product-card__btn:hover, .product-card__btn:focus {
  fill: var(--brand-color);
}

.product-card__title {
  margin-bottom: 83px;
  font-family: "Seymour One";
  font-size: 16px;
  line-height: 1.5;
}

.product-card__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .product-card__list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

.product-card__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 136px;
  margin-bottom: 82px;
  outline-offset: -1px;
  border-radius: 15px;
}

.product-card__description.ice-cream {
  outline: 2px solid #96af8c;
}

.product-card__description.ice-coffee,
.product-card__description.milkshake {
  outline: 2px solid #efd478;
}

.product-card__description.ice-coffee {
  background: #efd478;
}

.product-card__thumb.ice-cream {
  position: relative;
  bottom: 40%;
  border-radius: 98px;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.product-card__thumb.ice-coffee {
  position: relative;
  bottom: 35%;
  border-radius: 98px;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.product-card__thumb.milkshake {
  position: relative;
  bottom: 35%;
  border-radius: 98px;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.product-card__pic {
  position: relative;
  bottom: 7px;
}

.product-card__img {
  border-radius: 98px;
  overflow: hidden;
}

.product-card__text {
  position: relative;
  bottom: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.product-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__wrapper {
  margin-bottom: 12px;
}

.form__field {
  width: 224px;
  height: 32px;
  padding: 8px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 2px solid var(--background-color);
  border-radius: 10px;
  transition-property: border;
  transition-duration: var(--normal-transition-duration);
  transition-timing-function: var(--normal-transition-timing-function);
}
@media screen and (min-width: 768px) {
  .form__field {
    width: 368px;
    height: 42px;
    padding: 11px 16px;
  }
}
.form__field:focus {
  border-color: var(--brand-color);
}

.form__field::-moz-placeholder, .form__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.4166666667;
  color: var(--main-text-color);
}

.form__field:-ms-input-placeholder, .form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.4166666667;
  color: var(--main-text-color);
}

.form__field::placeholder,
.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.4166666667;
  color: var(--main-text-color);
}

.form__field:not(:-moz-placeholder-shown):invalid:required {
  border-color: red;
  box-shadow: 0 0 0 4px rgba(234, 31, 0, 0.25);
  box-shadow: unset;
}

.form__field:not(:-ms-input-placeholder):invalid:required {
  border-color: red;
  box-shadow: 0 0 0 4px rgba(234, 31, 0, 0.25);
  box-shadow: unset;
}

.form__field:not(:placeholder-shown):invalid:required {
  border-color: red;
  box-shadow: 0 0 0 4px rgba(234, 31, 0, 0.25);
  box-shadow: unset;
}

.form__field:not(:-moz-placeholder-shown):valid:required {
  border-color: green;
  box-shadow: 0 0 0 4px rgba(47, 167, 0, 0.25);
  box-shadow: unset;
}

.form__field:not(:-ms-input-placeholder):valid:required {
  border-color: green;
  box-shadow: 0 0 0 4px rgba(47, 167, 0, 0.25);
  box-shadow: unset;
}

.form__field:not(:placeholder-shown):valid:required {
  border-color: green;
  box-shadow: 0 0 0 4px rgba(47, 167, 0, 0.25);
  box-shadow: unset;
}

.form__comment {
  width: 224px;
  margin-bottom: 26px;
  padding: 8px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 2px solid var(--background-color);
  border-radius: 10px;
  transition-property: border;
  transition-duration: var(--normal-transition-duration);
  transition-timing-function: var(--normal-transition-timing-function);
}
@media screen and (min-width: 768px) {
  .form__comment {
    width: 368px;
    height: 84px;
  }
}
.form__comment:focus {
  border-color: var(--brand-color);
}

.submit__btn {
  width: 114px;
  height: 42px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  background: var(--brand-color);
  border-radius: 10px;
  border: none;
  transition-property: color;
  transition-duration: var(--normal-transition-duration);
  transition-timing-function: var(--normal-transition-timing-function);
}
.submit__btn:hover, .submit__btn:focus {
  background-color: var(--button-hover-color);
}
.submit__btn:focus {
  color: var(--button-text-inverse-color);
}

.slideset {
  position: relative;
}
.slideset > * {
  -webkit-animation: 12s autoplay infinite linear;
          animation: 12s autoplay infinite linear;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.slideset > *:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.slideset > *:nth-child(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.slideset > *:nth-child(3) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

@-webkit-keyframes autoplay {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  37.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes autoplay {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  37.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=index.css.map */