@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --mobile-width: 480px;
  --tablet-width: 768px;
  --desktop-width: 1200px;
  --main-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Seymour One", sans-serif;
  --main-font-style: normal;
  --main-text-color: #131313;
  --inverse-text-color: #fcfcfc;
  --brand-color: #f8d24e;
  --background-color: #84a178;
  --button-text-color: #000000;
  --button-text-inverse-color: #ffffff;
  --button-hover-color: #0a8817;
  --address-text-color: #d6936d;
  --work-time-color: #ababab;
  --copyright-color: #7a7a7a;
  --background-input-color: rgba(248, 210, 78, 0.1);
  --normal-transition-duration: 250ms;
  --normal-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-flex;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  font-style: var(--main-font-style);
  cursor: pointer;
}

.page {
  font-family: var(--main-font-family), sans-serif;
  font-size: 12px;
  color: var(--main-text-color);
  background-color: var(--background-color);
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: var(--mobile-width);
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: var(--tablet-width);
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: var(--desktop-width);
  }
}

.review-card {
  display: none;
  text-align: center;
}

.review-card__image {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.review-card__review {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding: 35px 39px;
  line-height: 2.55;
  border-radius: 10px;
  color: var(--inverse-text-color);
  background-color: var(--background-color);
}
@media screen and (min-width: 480px) {
  .review-card__review {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .review-card__review {
    padding: 29px 80px;
    width: 704px;
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .review-card__review {
    padding: 43px 109px;
    width: 968px;
    font-size: 16px;
  }
}

.review-card__name {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .review-card__name {
    margin-bottom: 32px;
    font-size: 16px;
  }
}

.joint-background {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--mobile-width);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 32px;
  background-image: url(../images/background/gallery/mobile/img.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .joint-background {
    background-image: url(../images/background/gallery/mobile/img@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .joint-background {
    max-width: var(--tablet-width);
    background-position-y: 144px;
    background-image: url(../images/background/gallery/tablet/img.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .joint-background {
    background-image: url(../images/background/gallery/tablet/img@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .joint-background {
    max-width: var(--desktop-width);
    background-position-y: 98px;
    background-image: url(../images/background/gallery/desktop/img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .joint-background {
    background-image: url(../images/background/gallery/desktop/img@2x.jpg);
  }
}

.container {
  max-width: 480px;
  padding-left: 0px;
  padding-right: 0px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 64px; /* для секції*/
  padding-top: 50px; /* для секції, якщо не закладений в about*/
  color: var(--inverse-text-color);
  background: var(--background-color);
}

.advantages-list {
  /*max-width: 480px;*/
  padding: 0;
  margin: 0;
}

.advantages-item {
  max-width: calc(100% - 0px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*flex-basis: calc((100% - 0 * (1 - 1)) / 1);*/
}

.advantages-item::before {
  display: flex;
  content: "";
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto 16px auto;
  background-color: var(--brand-color);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.advantages-item.icon-cow::before {
  background-image: url(..images/advantages/cow.png);
}

.advantages-item.icon-weight::before {
  background-image: url(../image/advantages/weight.png);
}

.advantages-item.icon-ice::before {
  background-image: url(../image/advantages/ice.png);
}

.advantages-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2222222222;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.advantages-desc {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
  width: 270px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 100vw;
    padding-bottom: 204px; /* для секції*/
    padding-top: 60px; /* для секції, якщо не закладений в about*/
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    height: auto;
    gap: 80px;
    margin-right: 76px;
    margin-left: 76px;
  }
  .advantages-item {
    flex-basis: calc((100% - 160px) / 3);
  }
  .advantages-title {
    font-size: 48px;
    line-height: 1.2291666667;
    margin-bottom: 12px;
  }
  .advantages-desc {
    width: 152px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .advantages-item::before {
    margin: 0 auto 32px auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-bottom: 178px; /* для секції*/
  }
  .advantages-list {
    margin-right: 16px;
    margin-left: 16px;
    gap: 32px;
  }
  .advantages-item {
    flex-basis: calc((100% - 64px) / 3);
  }
  .advantages-title {
    font-size: 58px;
    line-height: 1.224137931;
  }
  .advantages-desc {
    width: 368px;
    font-size: 16px;
    margin-bottom: 0;
    letter-spacing: 0.02em;
  }
  .advantages-item::before {
    margin: 0 auto 40px auto;
  }
}
.gallery {
  margin-left: auto;
  margin-right: auto;
}

.gallery__container {
  margin: auto;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__container {
    padding-left: 94px;
    padding-right: 94px;
  }
}

.gallery__image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__image {
    border-radius: 24px;
  }
}

.reviews__container {
  padding-top: 80px;
  padding-bottom: 40px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .reviews__container {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__container {
    padding-top: 140px;
    padding-bottom: 100px;
  }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 9px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--background-color);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */