:root {
  // breakpoints
  --mobile-width: 480px;
  --tablet-width: 768px;
  --desktop-width: 1200px;

  // fonts
  --main-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Seymour One', sans-serif;
  --main-font-style: normal;

  // colors
  --main-text-color: #131313;
  --inverse-text-color: #fcfcfc;
  --brand-color: #f8d24e;
  --background-color: #84a178;
  --button-text-color: #000000;
  --button-text-inverse-color: #ffffff;
  --address-text-color: #d6936d;
  --work-time-color: #ababab;
  --copyright-color: #7a7a7a;
  // background color in inputs of product card
  --background-input-color: rgba(248, 210, 78, 0.1);

  // transitions
  --normal-transition-duration: 250ms;
  --normal-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
