<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-item icon-cow">
        <h3 class="advantages-title">721</h3>
        <p class="advantages-desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item icon-weight">
        <h3 class="advantages-title">16kg</h3>
        <p class="advantages-desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item icon-ice">
        <h3 class="advantages-title">84</h3>
        <p class="advantages-desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
