<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item item">
        <div class="contact-card">
          <p class="contact-card__title">CAFE</p>
          <p class="contact-card__city">Chicago</p>
          <a class="contact-card__address link" href="#"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
          <hr class="contact-card__line" />
          <ul class="contact-card__sked list">
            <li class="contact-card__sked--day item">
              Monday - Friday <br /><span class="contact-card__sked--time"
                >06:00 AM - 10:00 PM</span
              >
            </li>
            <li class="contact-card__sked--day item">
              Saturday - Sunday <br /><span class="contact-card__sked--time"
                >08:00 AM - 16:00 PM</span
              >
            </li>
          </ul>
          <hr class="contact-card__line" />
          <ul class="contact-card__relations list">
            <li class="contact-card__relations--item item">
              <a
                class="contact-card__relations--link link"
                href="tel:+61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contact-card__relations--item item">
              <a
                class="contact-card__relations--link link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts__item item">
        <div class="contact-card">
          <p class="contact-card__title">FOOD TRUCK</p>
          <p class="contact-card__city">Los Angeles</p>
          <a class="contact-card__address link" href="#"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
          <hr class="contact-card__line" />
          <ul class="contact-card__sked list">
            <li class="contact-card__sked--day item">
              Monday - Friday <br /><span class="contact-card__sked--time"
                >06:00 AM - 10:00 PM</span
              >
            </li>
            <li class="contact-card__sked--day item">
              Saturday - Sunday <br /><span class="contact-card__sked--time"
                >08:00 AM - 16:00 PM</span
              >
            </li>
          </ul>
          <hr class="contact-card__line" />
          <ul class="contact-card__relations list">
            <li class="contact-card__relations--item item">
              <a
                class="contact-card__relations--link link"
                href="tel:+61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contact-card__relations--item item">
              <a
                class="contact-card__relations--link link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts__item item">
        <div class="contact-card">
          <p class="contact-card__title">CAFE</p>
          <p class="contact-card__city">New York</p>
          <a class="contact-card__address link" href="#"
            >14726 Sterling Pl, Brooklyn, New York 11222, USA</a
          >
          <hr class="contact-card__line" />
          <ul class="contact-card__sked list">
            <li class="contact-card__sked--day item">
              Monday - Friday <br /><span class="contact-card__sked--time"
                >06:00 AM - 10:00 PM</span
              >
            </li>
            <li class="contact-card__sked--day item">
              Saturday - Sunday <br /><span class="contact-card__sked--time"
                >08:00 AM - 16:00 PM</span
              >
            </li>
          </ul>
          <hr class="contact-card__line" />
          <ul class="contact-card__relations list">
            <li class="contact-card__relations--item item">
              <a
                class="contact-card__relations--link link"
                href="tel:+61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contact-card__relations--item item">
              <a
                class="contact-card__relations--link link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <ul class="contacts__content list">
      <li class="contacts__content--item item">
        <button
          type="button"
          class="contacts__btn btn--locations"
          js-location-open
        >
          Our Locations
          <svg class="btn__icon--contacts" width="12" height="12">
            <use href="./images/icons.svg#btn-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__content--item item">
        <button
          type="button"
          class="contacts__btn btn--franchise"
          js-franchise-open
        >
          Franchise
          <svg class="btn__icon--contacts" width="12" height="12">
            <use href="./images/icons.svg#btn-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
