<div class="modal">
    <button class="modal__close-button">
        <svg class="" width="" height="">
            <use href="./images/icons.svg/#icon-close"></use>
        </svg>
    </button>
    <p class="modal__title">Thank you for your interest in owning an Ice Cream shop</p>
    <p class="modal__text">
        Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this
        time.
        Once the application process resumes, we will contact you for further information. Please fill out the contact
        information below and we will reach out for additional information. We appreciate your patience.
    </p>
    <form class="modal__form">
        <div class="modal__form-item">
          <label class="modal__label"><p class="modal__placeholder">Name</p>
            <input type="text" name="modal-name" placeholder=" " id="name" class="modal__input" />
          </label>
        </div>

        <div class="modal__form-item">
          <label class="modal__label"><p class="modal__placeholder">Phone</p>
            <input type="text" name="modal-tel" placeholder=" " class="modal__input" />
          </label>
        </div>

        <div class="modal__form-item">
          <label class="modal__label"><p class="modal__placeholder">Email</p>
            <input type="text" name="modal-email" placeholder=" " class="modal__input" />
          </label>
        </div>

        <div class="modal__comment">
          <label class="modal__label"><p class="modal__placeholder">Comment</p>
            <textarea name="feedback" rows="5" placeholder="" class="modal__input"></textarea>
          </label>
        </div>

        <button type="submit" class="modal__button">
          <span class="modal__button-text">Submit</span>
        </button>
      </form>
</div>