<section class="section gallery">
  <div class="container gallery__container">
    <h2 class="visually-hidden">Gallery</h2>
    <img
      class="image gallery__image fade"
      srcset="
        ./images/gallery/cones-and-berries/mobile/img.jpg      280w,
        ./images/gallery/cones-and-berries/mobile/img@2x.jpg   560w,
        ./images/gallery/cones-and-berries/tablet/img.jpg      704w,
        ./images/gallery/cones-and-berries/tablet/img@2x.jpg  1408w,
        ./images/gallery/cones-and-berries/desktop/img.jpg    1013w,
        ./images/gallery/cones-and-berries/desktop/img@2x.jpg 2026w
      "
      src="./images/gallery/cones-and-berries/mobile/img.jpg"
      sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
      min-width="280"
      alt="Ice cream corns with berries"
    />
    <img
      class="image gallery__image fade"
      srcset="
        ./images/gallery/ice-cream-on-stick/mobile/img.jpg      280w,
        ./images/gallery/ice-cream-on-stick/mobile/img@2x.jpg   560w,
        ./images/gallery/ice-cream-on-stick/tablet/img.jpg      704w,
        ./images/gallery/ice-cream-on-stick/tablet/img@2x.jpg  1408w,
        ./images/gallery/ice-cream-on-stick/desktop/img.jpg    1013w,
        ./images/gallery/ice-cream-on-stick/desktop/img@2x.jpg 2026w
      "
      src="./images/gallery/ice-cream-on-stick/mobile/img.jpg"
      sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
      min-width="280"
      alt="Ice cream on a stick"
    />
    <img
      class="image gallery__image fade"
      srcset="
        ./images/gallery/cones-in-sprinkles/mobile/img.jpg      280w,
        ./images/gallery/cones-in-sprinkles/mobile/img@2x.jpg   560w,
        ./images/gallery/cones-in-sprinkles/tablet/img.jpg      704w,
        ./images/gallery/cones-in-sprinkles/tablet/img@2x.jpg  1408w,
        ./images/gallery/cones-in-sprinkles/desktop/img.jpg    1013w,
        ./images/gallery/cones-in-sprinkles/desktop/img@2x.jpg 2026w
      "
      src="./images/gallery/cones-in-sprinkles/mobile/img.jpg"
      sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
      min-width="280"
      alt="Ice cream corns in sprinkles"
    />
  </div>
</section>

<!-- Gallery script -->
<include src="./js/gallery-slide.js"></include>
