 <!-- header -->
    <header class="header" data-header>
      <div class="container header__container">
            <a href="./index.html" class="header__logo link">
                 <svg class="logo__svg" width="40" height="37" aria-label="logo">
              <use class="logo__icon" href="./images/icons.svg#logo"></use>
            </svg>
            </a>
            <button
            class="menu-toggle js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg class="menu__icon" width="32" height="32" aria-label="Menu toggle">
              <use class="icon__menu" href="./images/header/icons.svg#menu"></use>
            </svg>
          </button>
            <nav class="nav">
            <ul class="nav__list list">
            <li class="nav__item">
              <a href="#hero" class="nav__link link current-page">Home</a>
            </li>
            <li class="nav__item">
              <a href="#advantages" class="nav__link link">How it’s made?</a>
            </li>
            <li class="nav__item"><a href="#products" class="nav__link link">Our products</a></li>
            <li class="nav__item"><a href="#contacts" class="nav__link link">Contact</a></li>
          </ul>
           </nav>
           <button type="button" class="header__btn btn">Buy now <span class="header__span">></span></button>
          </div>
    </header>
   