<div class="backdrop backdrop--is-hidden" js-ingredients>
  <div class="modal ingredients">
    <button class="modal__close-button" js-ingredients-close>
      <svg class="modal__button-icon" width="20" height="20">
        <use href="./images/ingredients/svg/modal-cross.svg#modal-cross"></use>
      </svg>
    </button>
    <h2 class="modal__title ingredients__title">Chololate icecream</h2>

    <div class="ice-cream-div">
      <picture class="ice-cream-div__picture">
        <source
          media="(min-width: 480px)"
          srcset="
            ../src/images/ingredients/img/img-ice-cream@1x.jpg 1x,
            ../src/images/ingredients/img/img-ice-cream@2x.jpg 2x
          "
        />
        <img
          src="../src/images/ingredients/img/img-ice-cream@1x.jpg"
          alt="ice-cream"
          class="ice-cream-div__img"
        />
      </picture>
    </div>

    <ul class="food-values">
      <li class="food-values__item">
        <p class="food-values__value">320</p>
        <p class="food-values__kind">Kcal</p>
      </li>
      <li class="food-values__item">
        <p class="food-values__value">4g</p>
        <p class="food-values__kind">Prote...</p>
      </li>
      <li class="food-values__item">
        <p class="food-values__value">8,2g</p>
        <p class="food-values__kind">Fats</p>
      </li>
      <li class="food-values__item">
        <p class="food-values__value">40,4g</p>
        <p class="food-values__kind">Carbs</p>
      </li>
    </ul>

    <h3 class="ingredients__subtitle">Ingredients</h3>
    <ul class="ingredients-list">
      <li class="ingredients-list__item">
        <p class="ingredients-list__ingredient">Milk</p>
        <p class="ingredients-list__amount">100ml</p>
      </li>
      <li class="ingredients-list__item">
        <p class="ingredients-list__ingredient">Belgian chocolate</p>
        <p class="ingredients-list__amount">20g</p>
      </li>
      <li class="ingredients-list__item">
        <p class="ingredients-list__ingredient">Cream</p>
        <p class="ingredients-list__amount">150ml</p>
      </li>
      <li class="ingredients-list__item">
        <p class="ingredients-list__ingredient">Cocoa powder</p>
        <p class="ingredients-list__amount">30g</p>
      </li>
      <li class="ingredients-list__item">
        <p class="ingredients-list__ingredient">Sugar</p>
        <p class="ingredients-list__amount">40g</p>
      </li>
      <li class="ingredients-list__item">
        <p class="ingredients-list__ingredient">Vanilla sugar</p>
        <p class="ingredients-list__amount">10g</p>
      </li>
    </ul>

    <form class="ingredients-form">
      <label for="dient-name"></label>
      <input
        type="text"
        name="dient-name"
        id="dient-name"
        class="ingredients-form__name"
        placeholder="Name"
      />

      <label for="dient-tel"></label>
      <input
        type="tel"
        name="dient-tel"
        id="dient-tel"
        class="ingredients-form__tel"
        placeholder="Phone"
      />

      <label for="dient-comment"></label>
      <textarea
        name="dient-comment"
        id="dient-comment"
        class="ingredients-form__comment"
        placeholder="Comment"
      ></textarea>

      <button type="submit" class="ingredients-form__button">Submit</button>
    </form>
  </div>
</div>
