<div class="backdrop" id="ingredients">
  <div class="modal">
    <button class="modal__close-button" id="ingredients-close">
      <svg class="modal__button-icon" width="20" height="20">
        <use href="./images/ingredients/svg/modal-cross.svg#modal-cross"></use>
      </svg>
    </button>
    <p class="modal__text">Chololate icecream</p>

    <div class="ice-cream-div">
      <picture class="ice-cream-div__picture">
        <source
          media="(min-width: 480px)"
          srcset="
            ../src/images/ingredients/img/img-ice-cream@1x.jpg 1x,
            ../src/images/ingredients/img/img-ice-cream@2x.jpg 2x
          "
        />
        <img
          src="../src/images/ingredients/img/img-ice-cream@1x.jpg"
          alt="ice-cream"
          class="ice-cream-div__img"
        />
      </picture>
    </div>

    <ul class="food-value">
      <li class="food-value__item">
        <p class="food-value__member">Kcal</p>
      </li>
      <li class="food-value__item">
        <p class="food-value__member">Prote...</p>
      </li>
      <li class="food-value__item">
        <p class="food-value__member">Fats</p>
      </li>
      <li class="food-value__item">
        <p class="food-value__member">Carbs</p>
      </li>
    </ul>
    <h3 class="modal__ingredients-text">Ingredients</h3>
    <ul class="ingredients-list">
      <li class="ingredients-list__item">
        <ul class="ingredients-member-list">
          <li class="ingredients-member-list__item">
            <p class="ingredients-member-list__text">Milk</p>
          </li>
          <li class="ingredients-member-list__item">
            <p class="ingredients-member-list__text">100ml</p>
          </li>
        </ul>
      </li>
      <li class="ingredients-list__item">
        <ul class="ingredients-member-list">
          <li class="ingredients-member-list__item">
            <p class="ingredients-member-list__text">Belgian chocolate</p>
          </li>
          <li class="ingredients-member-list__item">
            <p class="ingredients-member-list__text">20g</p>
          </li>
        </ul>
      </li>
      <li class="ingredients-list__item">
        <ul class="ingredients-member-list">
          <li class="ingredients-member-list__item">
            <p class="ingredients-member-list__text">Cream</p>
          </li>
          <li class="ingredients-member-list__item">
            <p class="ingredients-member-list__text">150ml</p>
          </li>
        </ul>
      </li>
      <li class="ingredients-list__item">
        <ul class="ingredients-member-list">
          <li class="ingredients-member-list__item">
            <p class="ingredients-member-list__text">Cocoa powder</p>
          </li>
          <li class="ingredients-member-list__item">
            <p class="ingredients-member-list__text">30g</p>
          </li>
        </ul>
      </li>
      <li class="ingredients-list__item">
        <ul class="ingredients-member-list">
          <li class="ingredients-member-list__item">
            <p class="ingredients-member-list__text">Sugar</p>
          </li>
          <li class="ingredients-member-list__item">
            <p class="ingredients-member-list__text">40g</p>
          </li>
        </ul>
      </li>
      <li class="ingredients-list__item">
        <ul class="ingredients-member-list">
          <li class="ingredients-member-list__item">
            <p class="ingredients-member-list__text">Vanilla sugar</p>
          </li>
          <li class="ingredients-member-list__item">
            <p class="ingredients-member-list__text">10g</p>
          </li>
        </ul>
      </li>
    </ul>
    <form class="ingredients-form">
      <label for="dient-name"></label>
      <input
        type="text"
        name="dient-name"
        id="dient-name"
        class="ingredients-form__name"
        placeholder="Name"
      />

      <label for="dient-tel"></label>
      <input
        type="tel"
        name="dient-tel"
        id="dient-tel"
        class="ingredients-form__tel"
        placeholder="Phone"
      />

      <label for="dient-comment"></label>
      <textarea
        type="textarea"
        name="dient-comment"
        id="dient-comment"
        class="ingredients-form__comment"
        placeholder="Comment"
      ></textarea>

      <button type="submit" class="ingredients-form__button">Submit</button>
    </form>
  </div>
</div>
