<div class="backdrop backdrop--is-hidden js-location">
  <div class="modal location">
    <button class="modal__close-button js-location-close">
      <svg class="" width="20" height="20">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal__title location__title">Our Locations</h2>
    <div class="location__map">
      <picture>
        <source
          media="(max-width: 767.98px)"
          srcset="
            ./images/modal-location/map-s@1x.jpg 1x,
            ./images/modal-location/map-s@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767.98px)"
          srcset="
            ./images/modal-location/map-s@1x.webp 1x,
            ./images/modal-location/map-s@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/modal-location/map-L@1x.jpg 1x,
            ./images/modal-location/map-L@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/modal-location/map-L@1x.webp 1x,
            ./images/modal-location/map-L@2x.webp 2x
          "
          type="image/webp"
        />
        <img
          src="./images/modal-location/map-s@1x.jpg"
          alt="map"
          loading="lazy"
        />
      </picture>
    </div>

    <form action="https://goo.gl/maps/Y92jL7G9hhWHcfbN6" target="_blank">
      <button type="submit" class="modal__button modal__button--locations">
        <span class="modal__button-text">Open map</span>
      </button>
    </form>
  </div>
</div>
