<!-- Mobile menu -->
<div class="menu-container scrollable scrollable--dark js-menu-container" id="mobile-menu">
  <a href="./index.html" class="header__logo link">
    <svg class="logo__svg" width="40" height="37" aria-label="logo">
      <use class="logo__icon" href="./images/icons.svg#logo"></use>
    </svg>
  </a>
  <button class="menu-toggle menu-toggle--close js-close-menu">
    <svg class="close-menu__svg" width="32" height="32" aria-label="Close menu">
      <use
        class="icon__close-menu"
        href="./images/header/icons.svg#close-menu"
      ></use>
    </svg>
  </button>
  <ul class="mobile-menu list">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link current-page link js-close-menu" href="#hero"
        >Home</a
      >
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link js-close-menu" href="#about"
        >How it’s made?</a
      >
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link js-close-menu" href="#products"
        >Our products</a
      >
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link js-close-menu" href="#contacts"
        >Contact</a
      >
    </li>
  </ul>
  <button type="button" class="mobile-menu__btn btn js-products-open">
    Buy now<svg class="btn__icon--header" width="12" height="12">
      <use href="./images/header/icons.svg#btn-arrow"></use>
    </svg>
  </button>
</div>
