  <!-- Mobile menu -->
    <div class="menu-container js-menu-container" id="mobile-menu">
       <a href="./index.html" class="header__logo link">
                 <svg class="logo__svg" width="40" height="37" aria-label="logo">
              <use class="logo__icon" href="./images/icons.svg#logo"></use>
            </svg>
      <button class="menu-toggle menu-toggle--close js-close-menu">
       <svg class="close-menu__svg" width="32" height="32" aria-label="Close menu">
          <use class="icon__close-menu" href="./images/header/icons.svg#close-menu"></use>
        </svg>
      </button>
        <ul class="mobile-menu list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link current-page link" href="#hero">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#advantages">How it’s made?</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#products">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#contacts">Contact</a>
        </li>
      </ul>
      <button type="button" class="mobile-menu__btn btn">Buy now <span class="header__span">></span></button>
      </div>