<section class="product__section section" >
    <div class="product__container container">
        <p class="product__label">100% natural</p>
        <h2 class="product__title">products</h2>
        <ul class="product__list list">
            <li class="product__item product__item-green">
                <div class="product__card">
                    <h3 class="product__undertitle">ice cream</h3>
                    <p class="product__text">Soft ice cream 
                        with a delicate taste. Made with milk,
                        cream, sugar and natural stabilizer</p>    
                </div>
                <button class="product__button button" type="button">
                    <svg class="product__icon" width="40" height="16" aria-label="icon">
                        <use href="../images/products/icons.svg#arrow"></use></svg>
                </button>
            </li>
            <li class="product__item product__item-yellow">
                <div class="product__card">
                    <h3 class="product__undertitle">ice coffee</h3>
                    <p class="product__text">Fragrant 
                        invigorating drink created from 100% 
                        natural ingredients without the use of 
                        preservatives and flavor enhancers</p>    
                </div>
                <button class="product__button button" type="button">
                    <svg class="product__icon" width="40" height="16" aria-label="icon">
                        <use href="../images/products/icons.svg#arrow"></use></svg>
                </button>
            </li>
            <li class="product__item product__item-pink">
                <div class="product__card">
                    <h3 class="product__undertitle">milkshakes</h3>
                    <p class="product__text">Sweet drinks based
                        on milk and ice cream, supplemented 
                        with syrups, fruits, berries and other
                        sweets of your choice</p>    
                </div>
                <button class="product__button button" type="button">
                    <svg class="product__icon" width="40" height="16" aria-label="icon"> 
                        <use href="../images/products/icons.svg#arrow"></use></svg>
                </button>
            </li>
        </ul>
    </div>
</section>