<div class="backdrop" id="read-more">
  <div class="modal">
    <button class="modal-close-btn" id="read-more-close">
      <svg class="icon-close" width="20" height="20">
        <use href="./images/icons.svg#clarity_close-mobil"></use>
      </svg>
    </button>

    <h2 class="modal__title">How it’s made?</h2>

    <div class="modal__video">
      <iframe
        class="video"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/JM9VFGXXoVg"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <!--button class="play-btn">
        <svg class="icon-play" width="36" height="36">
          <use href="./images/icons.svg#clarity_play-solid"></use>
        </svg>
      </button-->
    </div>
    <p class="modal__desc">
      The technological process of ice cream production includes preparation of
      raw materials, preparation of the mixture, filtering, pasteurization,
      homogenization (for milk-based mixtures), cooling, storage, freezing of
      the mixture, packaging, hardening and hardening of ice cream.
    </p>
  </div>
</div>
