<section class="section reviews" id="reviews">
  <div class="container reviews__container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="review-card fade">
      <img
        class="image review-card__image"
        srcset="
          ./images/reviews/emily/img.jpg     85w,
          ./images/reviews/emily/img@2x.jpg 170w
        "
        src="./images/reviews/emily/img.jpg"
        sizes="85px, 100vw"
        min-width="85"
        alt="Client Emily"
      />
      <p class="review-card__review">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
      <p class="review-card__name">Emily, Los Angeles</p>
    </div>
    <div class="review-card fade">
      <img
        class="image review-card__image"
        srcset="
          ./images/reviews/bryan/img.jpg     85w,
          ./images/reviews/bryan/img@2x.jpg 170w
        "
        src="./images/reviews/bryan/img.jpg"
        sizes="85px, 100vw"
        min-width="85"
        alt="Client Bryan"
      />
      <p class="review-card__review">
        Every day we come to you with friends after classes in college. We love
        your ice cream and casual atmosphere!
      </p>
      <p class="review-card__name">Bryan, New-York</p>
    </div>
    <div class="review-card fade">
      <img
        class="image review-card__image"
        srcset="
          ./images/reviews/diana/img.jpg     85w,
          ./images/reviews/diana/img@2x.jpg 170w
        "
        src="./images/reviews/diana/img.jpg"
        sizes="85px, 100vw"
        min-width="85"
        alt="Client Diana"
      />
      <p class="review-card__review">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
        really like the excellent service - always served politely and quickly!
      </p>
      <p class="review-card__name">Diana, Chicago</p>
    </div>
    <div style="text-align: center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
  </div>
</section>
