<section class="section reviews" id="reviews">
  <div class="container reviews__container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <ul class="rewiews__list">
      <li class="reviews__item fade">
        <div class="review-card">
          <picture class="image review-card__image">
            <source
              srcset="
                ./images/reviews/emily/img.webp    1x,
                ./images/reviews/emily/img@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/emily/img.jpg    1x,
                ./images/reviews/emily/img@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              src="./images/reviews/emily/img.jpg"
              alt="Client Emily"
              loading="lazy"
            />
          </picture>
          <p class="review-card__review">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="review-card__name">Emily, Los Angeles</p>
        </div>
      </li>
      <li class="reviews__item fade">
        <div class="review-card">
          <picture class="image review-card__image">
            <source
              srcset="
                ./images/reviews/bryan/img.webp    1x,
                ./images/reviews/bryan/img@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/bryan/img.jpg    1x,
                ./images/reviews/bryan/img@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              src="./images/reviews/bryan/img.jpg"
              alt="Client Bryan"
              loading="lazy"
            />
          </picture>
          <p class="review-card__review">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
          <p class="review-card__name">Bryan, New-York</p>
        </div>
      </li>
      <li class="reviews__item fade">
        <div class="review-card">
          <picture class="image review-card__image">
            <source
              srcset="
                ./images/reviews/diana/img.webp    1x,
                ./images/reviews/diana/img@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/diana/img.jpg    1x,
                ./images/reviews/diana/img@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              src="./images/reviews/diana/img.jpg"
              alt="Client Diana"
              loading="lazy"
            />
          </picture>
          <p class="review-card__review">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
          <p class="review-card__name">Diana, Chicago</p>
        </div>
      </li>
    </ul>

    <div style="text-align: center">
      <span class="reviews__dot" onclick="currentSlide(1)"></span>
      <span class="reviews__dot" onclick="currentSlide(2)"></span>
      <span class="reviews__dot" onclick="currentSlide(3)"></span>
    </div>
  </div>
</section>
