.contact-card {
  background: var(--button-text-inverse-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  max-width: 280px;
  padding: 32px;

  @media screen and (min-width: 768px) {
    max-width: 224px;
    padding: 24px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 368px;
    padding: 40px;
    cursor: url(../images/header/cursor.png), auto;
  }

  &__title {
    display: inline-block;
    justify-content: center;
    align-content: center;
    height: auto;
    width: auto;
    padding: 4px 22px;
    margin-bottom: 20px;
    background: var(--brand-color);
    border-radius: 6px;
    line-height: calc(14 / 12);

    @media screen and (min-width: 768px) {
      padding: 4px 14px;
      line-height: calc(26 / 14);
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
      line-height: calc(30 / 16);
    }
  }

  &__city {
    padding-bottom: 8px;
    line-height: calc(22 / 12);

    @media screen and (min-width: 768px) {
      line-height: calc(26 / 14);
      padding-bottom: 12px;
    }

    @media screen and (min-width: 1200px) {
      line-height: calc(30 / 16);
      padding-bottom: 8px;
    }
  }

  &__address {
    letter-spacing: 0.04em;
    color: var(--address-text-color);
    line-height: calc(22 / 12);
    cursor: url(../images/header/cursor.png), auto;

    @media screen and (min-width: 768px) {
      line-height: calc(26 / 14);
    }

    @media screen and (min-width: 1200px) {
      line-height: calc(29 / 16);
    }
  }

  &__sked {
    gap: 12px;
    line-height: calc(22 / 12);

    @media screen and (min-width: 768px) {
      line-height: calc(26 / 14);
    }

    @media screen and (min-width: 1200px) {
      line-height: calc(30 / 16);
    }

    &--time {
      color: var(--work-time-color);
    }
  }

  &__line {
    margin: 24px auto;
    color: #e1e1e1;

    @media screen and (min-width: 768px) {
      margin: 32px auto;
    }

    @media screen and (min-width: 1200px) {
    }
  }

  &__relations {
    display: flex;
    flex-direction: column;
    gap: 6px;
    line-height: calc(19 / 12);

    @media screen and (min-width: 768px) {
      line-height: calc(21 / 14);
      gap: 4px;
    }

    @media screen and (min-width: 1200px) {
      line-height: calc(24 / 16);
    }

    &--link {
      color: var(--main-text-color);
      cursor: url(../images/header/cursor.png), auto;
    }
  }
}
