.ingredients {
  padding: 28px 20px;

  @media (min-width: 768px) {
    padding: 32px 40px;
  }
}

.ingredients__title {
  margin-bottom: 27px;
  font-size: 20px;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    margin-bottom: 31px;
  }
}

.ice-cream-div {
  margin-left: auto;
  margin-right: auto;
  width: 132px;
  height: 132px;
  margin-bottom: 22px;

  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

  &__picture {
    position: relative;
    bottom: 7px;
  }

  &__img {
    border-radius: 50%;
    overflow: hidden;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.food-values {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
    gap: 20px;
  }
}

.food-values__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 53px;
  height: 72px;

  border: 2px solid #9cbe8f;
  border-radius: 40px;

  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
  }
}

.food-values__value {
  position: absolute;
  top: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;

  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;

    font-size: 12px;
    line-height: 2.33;
  }
}

.food-values__kind {
  position: absolute;
  bottom: 8px;
  font-size: 10px;

  @media screen and (min-width: 768px) {
    bottom: 14px;

    font-size: 12px;
    line-height: 1.25px;
  }
}

.ingredients__subtitle {
  margin-bottom: 24px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 11px;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.ingredients-list__item {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}

.ingredients-form {
  text-align: center;
}

.ingredients-form__name {
  width: 240px;
  height: 42px;
  padding: 11px 10.5px;
  margin-bottom: 16px;

  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;

  &::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
  }

  @media (min-width: 768px) {
    width: 368px;
  }
}

.ingredients-form__tel {
  width: 240px;
  height: 42px;
  padding: 11px 10.5px;
  margin-bottom: 16px;

  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;

  &::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
  }

  @media (min-width: 768px) {
    width: 368px;
  }
}

.ingredients-form__comment {
  width: 240px;
  height: 84px;
  padding: 11px 10.5px;
  margin-bottom: 24px;

  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;

  &::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    width: 368px;
  }
}

.ingredients-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 132px;
  height: 42px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #131313;

  background: #f8d24e;
  border-radius: 10px;
  border: none;

  @media (min-width: 768px) {
    width: 121px;
  }
}
