.joint-background {
  margin-left: auto;
  margin-right: auto;

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 32px;

  background-image: url(../images/background/gallery/mobile/img.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/background/gallery/mobile/img@2x.jpg);
  }

  // Tablet styles
  @media screen and (min-width: 768px) {
    background-position-y: 144px;

    background-image: url(../images/background/gallery/tablet/img.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/gallery/tablet/img@2x.jpg);
    }
  }

  // Desktop styles
  @media screen and (min-width: 1200px) {
    max-width: var(--desktop-width);
    background-position-y: 98px;

    background-image: url(../images/background/gallery/desktop/img.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/gallery/desktop/img@2x.jpg);
    }
  }
}
