// .menu-toggle {
// background-color: inherit;
// border: none;

// transition-duration: map-get($transitions, 'normal-transition-duration');
// transition-timing-function: map-get(
//   $transitions,
//   'normal-transition-timing-function'
// );
// transition-property: fill;

// &:hover,
// &:focus {
//   fill: map-get($colors, 'brand-color');
// }

// // Tablet & desktop styles
// @media screen and (min-width: map-get($breakpoints, 'tablet')) {
//   display: none;
// }
// }
.menu-mobile {
  position: relative;
}
.menu-toggle {
  min-height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  color:  var(--button-text-inverse-color);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle--close {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .menu-toggle {
   
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--brand-color);
}
.menu__icon {
  fill: currentColor;
}

