// .menu-container {
//   position: fixed;
//   top: 0;
//   left: 0;

//   display: flex;
//   flex-direction: column;

//   width: 100%;
//   height: 100%;
//   padding: 48px 40px;
//   overflow: scroll;

//   background-color: map-get($colors, 'clear-white-color');
//   z-index: 999;

//   transform: translateX(100%);

//   transition-duration: map-get($transitions, 'normal-transition-duration');
//   transition-timing-function: map-get(
//     $transitions,
//     'normal-transition-timing-function'
//   );
//   transition-property: transform;

//   &.is-open {
//     transform: translateX(0);
//   }

//   // Tablet & desktop styles
//   @media screen and (min-width: map-get($breakpoints, 'tablet')) {
//     display: none;
//   }
// }

// .menu-container__menu-toggle {
//   position: absolute;
//   top: 10px;
//   right: 15px;
// }

// .menu-container__site-nav {
//   margin-bottom: auto;
// }

// .menu-container__contacts {
//   margin-bottom: 64px;
// }
