.menu-mobile {
  position: relative;
}
.menu-toggle {
  min-height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  color:  var(--button-text-inverse-color);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle--close {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .menu-toggle {
  display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--brand-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-left: 33px;
  padding-right: 32px;
  padding-bottom: 64px;
  color: var(--inverse-text-color);
  background-color: var(--background-color);
  z-index: 999;
  display: none;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
  display: flex;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}
.mobile-menu {
     
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
  padding-top: 51px;

  list-style: none;
  text-align: center;
  &__btn {
    margin-top: auto;
    max-width: 152px;
    padding: 12px 36px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: calc(18 / 14);
    border: transparent;
    background-color: var(--brand-color);
    border-radius: 10px;
    &:hover, &:focus {
    background-color:var(--button-hover-color);}
    &:focus {color: var( --button-text-inverse-color);}
    
    &__span {
      margin-left: 4px;
    }}
  &__link.current-page {
    color: var(--main-text-color);
  }
  & .link {
    display: block;
    margin: 0;
    padding: 16px;
    font-weight: 700;
    font-size: 40px;
    line-height: calc(59 / 40);
    letter-spacing: 0.02em;
    color: var(--inverse-text-color);
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--main-text-color);
    }

  }
   @media screen and (min-width: 768px) {
   padding: 20px;
   &__btn {display: none;}
   }
}
.menu__icon {
  fill: currentColor;
}
.current-page {
  color:var(--main-text-color);
}