.backdrop {
  display: none; /* Hidden by default */

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition);
}

.modal {
  position: absolute;
  overflow: auto; /* Enable scroll if needed */
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 28px;

  background-color: var(--inverse-text-color);
  border: 2px solid var(--brand-color);
  border-radius: 10px;

  width: 100%;
  max-width: 280px;
  height: auto;
  align-content: center;

  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (min-width: 480px) {
    max-width: 568px; //????
    padding: 32px 60px;
  }
}

.modal__close-button {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 20px;
  height: 20px;
  padding: 0;

  background: none;

  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;
  fill: #131313;

  transition: fill 150ms cubic-bezier(0, 0, 1, 1);

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }

  &:hover {
    fill: var(--button-hover-color);
  }
}

.modal__title {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.modal__text {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  color: var(--main-text-color);
}

.modal__form {
  margin: 24px auto 0;
  max-width: 224px;

  @media screen and (min-width: 480.1px) {
    max-width: 368px;
  }
}

.modal__form-item {
  position: relative;
  margin: 0 auto 12px;
  max-width: 100%;
  height: 32px;
}

.modal__form-item--comment {
  height: 64px;
}

.modal__placeholder {
  position: absolute;
  top: 8px;
  left: 12px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: var(--main-text-color);
  transition: var(--normal-transition-duration);
}

.modal__input {
  width: 100%;
  height: 100%;

  padding: 8px 12px 7px;

  background: var(--background-input-color);
  border: 1px solid var(--background-color);
  border-radius: 10px;
}

.modal__input:focus + .modal__placeholder,
.modal__input:not(:placeholder-shown) + .modal__placeholder {
  font-size: 10px;
  line-height: 12px;
  transform: translate(-20%, -160%);
}

.modal__button {
  margin: 24px auto 0;
  width: 114px;
  height: 42px;
  max-width: 100%;

  background: var(--brand-color);
  border-radius: 10px;
  border: 0;
}

.modal__button-text {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: var(--main-text-color);
}

.modal__map {
  max-width: 224px;
  max-height: 199px;

  @media screen and (min-width: 480.1px) {
    max-width: 448px;
    max-height: 260px;
  }
}
