// .modal__title {
//   font-style: normal;

//   display: flex;
//   align-items: center;
//   text-align: center;
//   justify-content: center;
//   color: var(--main-text-color);

//   margin-bottom: 20px;
//   margin-top: 0;
// }

.modal-read-more__video {
  min-width: 220px;
  min-height: 199px;
}


.modal-read-more__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  

  color: var(--main-text-color);
}



@media screen and (min-width: 768px) {
  // .modal {
  //   max-width: 568px;
  //   padding: 32px 60px;
  // }

  // .modal__title {
  //   font-size: 20px;
  //   line-height: calc(28 / 20);
  //   margin-bottom: 32px;
  // }

  .modal-read-more__desc {
    font-size: 16px;
    margin-top: 32px;
  }

  .modal-read-more__video {
    max-width: 444px; //568 - 2-2-60-60
    height: 205px;
  }

  .video {
    width: 444px;
    height: 205px;
  }
}
