// .section {
// padding-top: 60px;
// padding-bottom: 60px;

// // Desktop styles
// @media screen and (min-width: map-get($breakpoints, 'desktop')) {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
// }
