.advantages {
  max-width: 480px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 64px; /* для секції*/
  padding-top: 50px; /* для секції, якщо не закладений в about*/
  color: var(--inverse-text-color);
  background: var(--background-color);
}

.advantages-list {
  /*max-width: 480px;*/
  padding: 0;
  margin: 0;
  list-style: none;
}
.advantages-item {
  max-width: calc(100% - (2 * 0px));
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*flex-basis: calc((100% - 0 * (1 - 1)) / 1);*/
}
.advantages-item::before {
  display: flex;
  content: '';
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto 16px auto;

  background-color: var(--brand-color);

  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.advantages-item.icon-cow::before {
  // background-image: url(../images/advantages/cow.png);
}
.advantages-item.icon-weight::before {
  // background-image: url(../images/advantages/weight.png);
}
.advantages-item.icon-ice::before {
  // background-image: url(../images/advantages/ice.png);
}
.advantages-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(44 / 36);
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}
.advantages-desc {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;

  width: 270px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages {
    min-width: 100vw;
    padding-bottom: 204px; /* для секції*/
    padding-top: 60px; /* для секції, якщо не закладений в about*/
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    height: auto;
    gap: 80px;
    margin-right: 76px;
    margin-left: 76px;
  }
  .advantages-item {
    flex-basis: calc((100% - 80px * 2) / 3);
  }
  .advantages-title {
    font-size: 48px;
    line-height: calc(59 / 48);

    margin-bottom: 12px;
  }
  .advantages-desc {
    width: 152px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .advantages-item::before {
    margin: 0 auto 32px auto;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 178px; /* для секції*/
  }
  .advantages-list {
    margin-right: 16px;
    margin-left: 16px;
    gap: 32px;
  }
  .advantages-item {
    flex-basis: calc((100% - 32px * 2) / 3);
  }
  .advantages-title {
    font-size: 58px;
    line-height: calc(71 / 58);
  }
  .advantages-desc {
    width: 368px;
    font-size: 16px;
    margin-bottom: 0;
    letter-spacing: 0.02em;
  }
  .advantages-item::before {
    margin: 0 auto 40px auto;
  }
}
