.contacts {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 24%, #84a178 24%);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 45%, #84a178 45%);
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 17%, #84a178 17%);
  }
}

.contacts__container {
  width: 100%;
  padding-bottom: 60px;
  margin: auto;
  font-family: var(--main-font-family), var(--secondary-font-family);
  font-style: var(--main-font-style);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    padding-bottom: 120px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

.contacts__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  gap: 16px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 60px;
  }
}

.contacts__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 196px;
  height: 42px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  box-shadow: none;
  border-width: 0;
  color: var(--main-text-color);
  gap: 10px;
  padding: 12px auto;
  transition: var(--normal-transition-duration)
    var(--normal-transition-timing-function);
}

.btn {
  &--locations {
    background: var(--brand-color);

    &:hover {
      background: var(--button-hover-color);
    }

    &:focus {
      background: var(--button-hover-color);
      color: var(--button-text-inverse-color);
    }

    &:disabled {
      background: var(--work-time-color);
    }
  }

  &--franchise {
    background: var(--background-color);
    border: 2px solid var(--brand-color);

    &:hover {
      border: 2px solid var(--button-hover-color);
    }

    &:focus {
      border: 2px solid var(--button-hover-color);
      color: var(--button-text-inverse-color);
    }

    &:disabled {
      border: 2px solid var(--work-time-color);
    }
  }
}

.btn__icon--contacts {
  fill: currentColor;
}
