.contacts {
  width: 100%;
  padding-bottom: 120px;
  margin: auto;
  font-family: var(--main-font-family), var(--secondary-font-family);
  font-style: var(--main-font-style);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      gap: 32px;
    }
  }
  &__item {
    background: var(--button-text-inverse-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    max-width: 216px;
    padding: 32px;
    @media screen and (min-width: 768px) {
      max-width: 176px;
      padding: 24px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 288px;
      padding: 40px;
    }
  }

  &__title {
    display: inline-block;
    justify-content: center;
    align-content: center;
    height: auto;
    width: auto;
    padding: 4px 22px;
    margin-bottom: 20px;
    background: var(--brand-color);
    border-radius: 6px;
    line-height: calc(14 / 12);
    @media screen and (min-width: 768px) {
      padding: 4px 14px;
      line-height: calc(26 / 14);
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1200px) {
      line-height: calc(30 / 16);
    }
  }

  &__city {
    padding-bottom: 8px;
    line-height: calc(22 / 12);

    @media screen and (min-width: 768px) {
      line-height: calc(26 / 14);
      padding-bottom: 12px;
    }
    @media screen and (min-width: 1200px) {
      line-height: calc(30 / 16);
      padding-bottom: 8px;
    }
  }

  &__address {
    letter-spacing: 0.04em;
    color: var(--address-text-color);
    line-height: calc(22 / 12);
    @media screen and (min-width: 768px) {
      line-height: calc(26 / 14);
    }
    @media screen and (min-width: 1200px) {
      line-height: calc(29 / 16);
    }
  }

  &__sked {
    gap: 12px;
    line-height: calc(22 / 12);
    @media screen and (min-width: 768px) {
      line-height: calc(26 / 14);
    }
    @media screen and (min-width: 1200px) {
      line-height: calc(30 / 16);
    }

    &--day {
    }

    &--time {
      color: var(--work-time-color);
    }
  }
  &__line {
    margin: 24px auto;
    color: #e1e1e1;
    @media screen and (min-width: 768px) {
      margin: 32px auto;
    }
    @media screen and (min-width: 1200px) {
    }
  }

  &__relations {
    display: flex;
    flex-direction: column;
    gap: 6px;
    line-height: calc(19 / 12);
    @media screen and (min-width: 768px) {
      line-height: calc(21 / 14);
      gap: 4px;
    }
    @media screen and (min-width: 1200px) {
      line-height: calc(24 / 16);
    }

    &--item {
    }

    &--link {
      color: var(--main-text-color);
    }
  }
}
.contacts__btn--list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  gap: 16px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 60px;
  }
}
.contacts__btn--item {
}

.contacts__btn {
  min-width: 196px;
  height: 42px;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  box-shadow: none;
  border-width: 0;
  color: var(--main-text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px auto;
  cursor: pointer;
  transition: var(--normal-transition-duration)
    var(--normal-transition-timing-function);
}

.btn {
  &--locations {
    background: var(--brand-color);
    &:hover {
      background: var(--button-hover-color);
    }
    &:focus {
      background: var(--button-hover-color);
      color: var(--button-text-inverse-color);
    }
    &:disabled {
      background: var(--work-time-color);
    }
  }
  &--franchise {
    background: none;
    border: 2px solid var(--brand-color);
    &:hover {
      border: 2px solid var(--button-hover-color);
    }
    &:focus {
      border: 2px solid var(--button-hover-color);
      color: var(--button-text-inverse-color);
    }
    &:disabled {
      border: 2px solid var(--work-time-color);
    }
  }
  &--icon {
  }
}
