.header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--background-color);
  transition: background-color 300ms ease-out, backdrop-filter 300ms ease-out;

  &--no-transparency {
    background-color: rgba(50, 82, 4, 0.5);
    backdrop-filter: blur(4px);
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  &__btn {
    display: none;
    &:focus-visible {
      outline: transparent;
    }
  }

  &__logo {
    color: var(--brand-color);
  }

  @media screen and (min-width: 768px) {
    padding-top: 20px;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 14px;
    }

    &__btn {
      display: inline-flex;
      gap: 4px;
      align-items: center;
      min-width: 152px;
      padding: 12px 36px;
      margin-left: 32px;
      font-weight: 600;
      font-size: 14px;
      line-height: calc(18 / 14);
      border: transparent;
      background-color: var(--brand-color);
      border-radius: 10px;
      transition: background-color var(--normal-transition-duration)
          var(--normal-transition-timing-function),
        color var(--normal-transition-duration)
          var(--normal-transition-timing-function);

      &:hover,
      &:focus {
        background-color: var(--button-hover-color);
      }

      &:focus {
        color: var(--button-text-inverse-color);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 8px;

    &__container {
      width: 1200px;
      display: flex;
      align-items: center;
    }
  }
}

.btn__icon--header {
  fill: currentColor;
}

.nav {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 25px;
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: var(--inverse-text-color);
    transition: color var(--normal-transition-duration)
      var(--normal-transition-timing-function);

    &:hover,
    &:focus {
      color: var(--brand-color);
    }

    @media screen and (min-width: 481px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.logo__svg {
  fill: currentColor;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}

.nav__link {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 90%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--brand-color);
    opacity: 0;
    transform: scaleX(0.2);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}
