.hero__container {
  padding-top: 99px;

  @media screen and (max-width: 767px) {
    background-image: url(../images/hero/mob-dots.svg);
    background-repeat: repeat-x, no-repeat;
    background-position: bottom;
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    display: flex;
    background-image: url(../images/hero/tab-dots.svg);
    background-repeat: repeat-x, no-repeat;
    background-position: bottom;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    background-image: url(../images/hero/desk-dots.svg);
    background-repeat: repeat-x, no-repeat;
    background-position: bottom;
  }
}

.hero__box {
  display: flex;
  align-items: center;

  margin-bottom: 19px;

  @media screen and (min-width: 1199px) {
    margin-bottom: 45px;
  }
}

.hero__title {
  font-family: var(--secondary-font-family);

  font-size: 26px;
  line-height: calc(33 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--inverse-text-color);
  width: 247px;
  margin-bottom: 38px;

  @media screen and (min-width: 1199px) {
    width: 367px;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.04em;
  }
}

.hero__btn {
  padding: 11px 26px;
  margin-right: 15px;
  border: 2px solid var(--brand-color);
  border-radius: 8px;
  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);

  @media screen and (min-width: 767px) {
    padding-right: 22px;
  }

  @media screen and (min-width: 1199px) {
    padding: 12px 34px;
    margin-right: 35px;
  }

  &:hover {
    border: 2px solid var(--button-hover-color);
  }

  &:focus {
    border: 2px solid var(--button-hover-color);
    color: var(--button-text-inverse-color);
  }
}

.hero__link {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;

  color: var(--brand-color);

  @media screen and (min-width: 1199px) {
    font-size: 14px;
  }

  &:hover {
    color: var(--button-hover-color);
  }

  &:focus {

    color: var(--button-text-inverse-color);
  }
}

.hero__descr {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__text .item {
  margin-left: 32px;
  margin-right: 53px;
  margin-bottom: 12px;

  width: 139px;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;

  color: var(--button-text-inverse-color);

  @media screen and (min-width: 1199px) {
    font-size: 14px;
    width: 200px;
    margin-bottom: 24px;
    margin-right: 195px;
  }
}

.hero__icon {
  margin-left: 32px;
  fill: var(--button-text-inverse-color);
}

.hero__features {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__right-side {
  display: flex;
  gap: 14px;
}

.hero__numbers {
  margin-bottom: 4px;

  text-align: right;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;

  @media screen and (min-width: 1199px) {
    font-size: 46px;
    margin-bottom: 15px;
  }
}

.hero__features .item {
  margin-bottom: 20px;
}

.hero__features-text {
  text-align: right;
  width: 46px;
  font-size: 8px;
  line-height: 10px;
  color: var(--button-text-inverse-color);

  @media screen and (min-width: 1199px) {
    font-size: 14px;

    width: 79px;
  }
}

.hero__img {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}