.backdrop {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 150ms linear,
    visibility 150ms linear;

    overflow: scroll;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 28px 20px;

    width: 280px;
    height: 968px;
    background-color: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;

    transition: transform 150ms cubic-bezier(0, 0, 1, 1),
    opacity 150ms cubic-bezier(0, 0, 1, 1);

    @media (min-width: 768px) {
        width: 568px;
        height: 996px;
        padding: 32px 40px;
      }
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -70%);
}

.modal__button {
    position: absolute;
    padding: 0;
    width: 20px;
    height: 20px;

    top: 12px;
    right: 12px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: none;
    cursor: pointer;

    fill: #131313;
    background-color: #FCFCFC;

    transition: fill 150ms cubic-bezier(0, 0, 1, 1);

    &:hover {
        fill: var(--button-hover-color);
    }
}

.modal__text {
    margin: 0;
    margin-bottom: 27px;

    width: 142px;
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    
    color: #131313;

    @media screen and (min-width: 768px) {
        width: 273px;
        margin-bottom: 24px;
    }
}

.ice-cream-div {
    margin-left: auto;
    margin-right: auto;
    width: 132px;
    height: 132px;
    margin-bottom: 24px;

    border-radius: 50%;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.ice-cream-div__picture {
    position: relative;
    bottom: 7px;
}

.ice-cream-div__img {
    border-radius: 98px;
    overflow: hidden;
}

.food-value {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin-bottom: 48px;
    }
}

.food-value__item {
    position: relative;
    display: flex;
    justify-content: center;
    width: 53px;
    height: 72px;

    border: 2px solid #9CBE8F;
    border-radius: 40px;

    &::before {
        content: '';
        position: absolute;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 2.8;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        top: -1px;

        box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

        background-color: #9CBE8F;
    }

    &:nth-child(1)::before {
        content: '320';
    }

    &:nth-child(2)::before {
        content: '4g';
    }

    &:nth-child(3)::before {
        content: '8.2g';
    }

    &:nth-child(4)::before {
        content: '40.4g';
    }
}

.food-value__member {
    position: absolute;
    margin: 0;
    bottom: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-size: 10px;
    line-height: 1.2;

    color: #131313;
}

.modal__ingredients-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;

    margin-bottom: 24px;
}

.ingredients-list {
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin-bottom: 48px;
    }
}

.ingredients-list__item {
    margin-bottom: 11px;

    &:last-child {
        margin-bottom: 0;
    }
}

.ingredients-member-list {
    display: flex;
}

.ingredients-member-list__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;

    margin: 0;
}

.ingredients-member-list__item + .ingredients-member-list__item {
    margin-left: auto;
}

.ingredients-form {
    text-align: center;
}

.ingredients-form__name {
    width: 240px;
    height: 42px;
    padding: 11px 10.5px;
    margin-bottom: 16px;

    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    outline: none;

    &::placeholder {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #131313;
    }

    @media (min-width: 768px) {
        width: 368px;
    }
}

.ingredients-form__tel {
    width: 240px;
    height: 42px;
    padding: 11px 10.5px;
    margin-bottom: 16px;

    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    outline: none;

    &::placeholder {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #131313;
    }

    @media (min-width: 768px) {
        width: 368px;
    }
}

.ingredients-form__comment {
    width: 240px;
    height: 84px;
    padding: 11px 10.5px;
    margin-bottom: 24px;

    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    outline: none;

    &::placeholder {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #131313;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        width: 368px;
    }
}

.ingredients-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 132px;
    height: 42px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #131313;

    background: #F8D24E;
    border-radius: 10px;
    border: none;

    @media (min-width: 768px) {
        width: 121px;
    }
}