.reviews__container {
  padding-top: 80px;
  padding-bottom: 40px;
  position: relative;

  // Tablet styles
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  // Desktop styles
  @media screen and (min-width: 1200px) {
    padding-top: 140px;
    padding-bottom: 100px;
  }
}

/* The dots/bullets/indicators */
.reviews__dot {
  height: 12px;
  width: 12px;
  margin: 0 9px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

  cursor: pointer;
}

.active,
.dot:hover {
  background-color: var(--background-color);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
